<% layout( 'layout') -%>

  <% block( 'css').append('<link rel="stylesheet" href="/components/jstree/dist/themes/default/style.min.css">') %>

    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          任务单元分配
        </div>
        <div class="panel-body">
          <div id="task-tree">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          展示界面
        </div>
        <div class="panel-body">
        </div>
      </div>
    </div>

    <% block( 'js').append('<script src="/components/jstree/dist/jstree.js"></script>') %>
    <% block( 'js').append( '<script src="/js/task.js"></script>') %>
