<!-- Modal -->
<div class="modal fade" id="offerModal" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form id="offer-form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Add Offer</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="link">Link</label>
            <input type="url" name="link" class="form-control" id="link" placeholder="Link"
            required="" data-parsley-trigger="change">
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Title"
            required="" data-parsley-trigger="change">
          </div>
          <div class="form-group">
            <label for="desc">Description</label>
            <input type="text" name="desc" class="form-control" id="desc" placeholder="Description"
            required="" data-parsley-trigger="change">
          </div>
          <div class="form-group">
            <label for="nation">Nation</label>
            <select class="form-control modal-selec" name="nation" style="width: 100%" id="nation">
              <% nations.forEach(function(nation) { %>
                <option value="<%= nation %>">
                  <%=nation %>
                </option>
                <% }) %>
            </select>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control modal-selec" name="category" id="category" style="width: 100%">
              <% categories.forEach(function(category) { %>
                <option value="<%= category %>">
                  <%=category %>
                </option>
                <% }) %>
            </select>
          </div>
          <div class="form-group">
            <label for="network">Network</label>
            <select class="form-control modal-select" id="network" name="network" style="width: 100%">
              <% networks.forEach(function(network) { %>
                <option value="<%= network %>">
                  <%=network %>
                </option>
                <% }) %>
            </select>
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control modal-selec" id="type" name="type" style="width: 100%">
              <% types.forEach(function(type) { %>
                <option value="<%= type %>">
                  <%=type %>
                </option>
                <% }) %>
            </select>
          </div>
          <div class="form-group">
            <label for="offerType">Offer Type</label>
            <select class="form-control modal-selec" id="offerType" name="offerType" style="width: 100%">
              <option value="desktop">Desktop Offer</option>
              <option value="mobile">Mobile Offer</option>
            </select>
          </div>
          <div class="form-group">
            <label for="logo">Logo</label>
            <input id="logo" class="form-control" type="url" name="logo" required=""
            data-parsley-trigger="change">
          </div>
          <input type="hidden" name="_id" id="offerId">
          <span class="btn-success btn fileinput-button">
          <span>Upload Logo</span>
          <input id="upload-logo" type="file" name="file" data-url="/images/logo/upload">
          </span>
          <img id="upload-img-show" src="http://a.thanksearch.com/ftpup/vres/v2/images/v9/images/v9_simple_logo.png">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" id="save-offer-button">Ok</button>
        </div>
      </form>
    </div>
  </div>
</div>
