<div>
  <div>
    <span>Title</span>
    <p><%=offer.title%></p>
  </div>
  <div>
    <span>Link</span>
    <p><%=offer.link + '&partner=' + user.username %></p>
  </div>
  <div>
    <span>Description</span>
    <p><%=offer.desc%></p>
  </div>
  <div>
    <span>Nation</span>
    <p><%=offer.nation%></p>
  </div>
  <div>
    <span>Category</span>
    <p><%=offer.category%></p>
  </div>
  <div>
    <span>Network</span>
    <p><%=offer.network%></p>
  </div>
  <div>
    <span>Type</span>
    <p><%=offer.type%></p>
  </div>
  <div>
    <span>Logo</span>
    <img src="<%=offer.logo%>" alt="" style="max-width: 100px;max-height: 100px">
  </div>
  <div>
    <span>Offer Type</span>
    <p><%=offer.offerType%></p>
  </div>
  <div>
    <span>Is Effect</span>
    <p><%=offer.isEffect%></p>
  </div>
</div>
